<template>
  <div>
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <h6
          class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
        >
          <span>Admin</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column">
          <li class="nav-item">
            <router-link to="/admin/productlist" class="nav-link">
              <i class="fas fa-box-open"></i>Product List
            </router-link>
          </li>
          <li class="nav-item">
            <router-link to="/admin/orderlist" class="nav-link">
              <i class="fas fa-tags"></i>Order List
            </router-link>
          </li>
          <li class="nav-item">
            <router-link to="/admin/couponlist" class="nav-link">
              <i class="fas fa-ticket-alt"></i>Coupon List
            </router-link>
          </li>
        </ul>
        <h6
          class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
        >
          <span>Test Features</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column">
          <li class="nav-item">
            <router-link to="/products" class="nav-link">
              <i class="fas fa-shopping-cart"></i>Products
            </router-link>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
i {
  margin: 0 10px;
}
</style>
