<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style lang="scss">
@import "./styles/bootstrap_custom";

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
}
</style>
